<div class="calendar-card {{ event.css_class }}" style="height: {{hour_height_px * event.duration.total_seconds() / 3600}}px;">
	<div class="event-info">
		<div class="title"><a href="https://tickets.edfringe.com{{event.edfringe_url}}">{{event.title_maybe_truncated}}</a></div>
		<div class="location"><a href="{{event.venue.google_maps_url}}">{{event.venue.name}}</a></div>
		<div class="time">{{event.start_edinburgh.strftime("%H:%M")}} - {{(event.start_edinburgh + event.duration).strftime("%H:%M")}}</div>
		<div class="status-bar">
			{% if event.interest == "Booked" %}
				Booked<br />
				Unbook and: <a href="/love/{{event.show_id}}">❤</a>, <a href="/like/{{event.show_id}}">👍</a>
			{% else %}
			{% if event.last_chance %}Last Chance!<br />{% endif %}
			{% if event.shared_interests %}
				Friend{% if event.shared_interests|length > 1 %}s{% endif %}
				{% if event.max_shared_interest == "Must" %}
					- ❤
				{% elif event.max_shared_interest == "Like" %}
					- 👍
				{% endif %}
				<br />
			{% endif %}
			<a href="/love/{{event.show_id}}/{{event.performance_id}}" class="heart">❤️</a>, <a href="/like/{{event.show_id}}/{{event.performance_id}}" class="thumbsup">👍</a>, <a href="/booked/{{event.performance_id}}">Book</a>, <a href="/unlike/{{event.show_id}}">x</a>, <a href="/love/performance/{{event.performance_id}}">❤️this</a>
			{% endif %}
		</div>
	</div>
</div>
