<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>edfringeplanner</title>
    <link href="{{ url_for("static", filename="style.css") }}" rel="stylesheet" />
</head>
<body>
    {% include "site-header.html" %}
    <div class="content">
        If you're anything like us, you want to see <em>way more</em> shows than you possibly can! This website helps you express stronger or weaker preferences for them, and work out how to schedule your days.
    </div>
</body>
</html>
