<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{date}} - edfringeplanner</title>
	<link href="{{ url_for("static", filename="style.css") }}" rel="stylesheet" />
	<style type="text/css">
	.calendar {
		display: inline-flex;
		height: {{ hour_height_px * number_of_hours }}px;
	}

	.calendar .cell-hour {
		flex: 60;
		height: {{ hour_height_px }}px;
	}
	</style>
	<script type="text/javascript">
	function updateQueryString(key, value) {
		var query = new URLSearchParams(window.location.search);
		query.set(key, value);
		window.location.search = query.toString();
	}

	function handleSharedEventBoost(elem) {
		updateQueryString("boost", elem.value);
	}

	function handleStartAtChange(elem) {
		updateQueryString("start_at", elem.value);
	}

	function handleEndAtChange(elem) {
		updateQueryString("end_at", elem.value);
	}
	</script>
</head>
<body>
	{% include "site-header.html" %}

	<div class="hiding-bar">
	Boost shared events:
	<select onchange="handleSharedEventBoost(this)">
		<option value="none">None</option>
		<option value="bit" {% if shared_boost == "bit" %}selected="selected"{% endif %}>A bit</option>
		<option value="lot" {% if shared_boost == "lot" %}selected="selected"{% endif %}>A lot</option>
	</select>
	{% if display_filter.show_like %}<a href="{{url_hiding('like')}}">Hide{%else%}<a href="{{url_showing('like')}}">Show{%endif%} 👍 events</a>
	- {% if display_filter.show_must %}<a href="{{url_hiding('love')}}">Hide{%else%}<a href="{{url_showing('love')}}">Show{%endif%} ❤ events</a>
	- {% if display_filter.show_booked %}<a href="{{url_hiding('booked')}}">Hide{%else%}<a href="{{url_showing('booked')}}">Show{%endif%} Booked (another time) events</a>
	- Start at
	<select onchange="handleStartAtChange(this)"><option>Start</option>
		{% for h in range(10, 22) %}
		<option {%if start_at == "%s:00"|format(h)%}selected="selected"{%endif%}>{{h}}:00</option>
		{%endfor%}
	</select>
	- End at
	<select onchange="handleEndAtChange(this)"><option>End</option>
		{% for h in range(11, 23) %}
		<option {%if end_at == "%s:00"|format(h)%}selected="selected"{%endif%}>{{h}}:00</option>
		{%endfor%}
	</select>
	- {% if display_filter.show_past %}<a href="{{url_hiding('past')}}">Hide{%else%}<a href="{{url_showing('past')}}">Show{%endif%} Past events</a>
	{% for hidden_category in display_filter.hidden_categories %}
	  - <a href="{{url_showing(hidden_category)}}">Show {{hidden_category}} events</a>
	{% endfor %}
	</div>

	{% if not event_columns %}
	You don't have any events of interest this day. Maybe try <a href="/import">importing some</a>?
	{% else %}


	<div class="calendar">
		<div class="column left-header">
			{% for i in range (first_hour, first_hour + number_of_hours) %}
			<div class="cell cell-hour">
				{{ "{:02d}".format(i % 24) }}:00
			</div>
			{% endfor %}
		</div>
		{% for column in event_columns %}
			<div class="column">
                <div class="header">
                    {{ column.header }} {% if column.header != "Booked" %}<a href="{{url_hiding(column.header)}}">x</a>{% endif %}
                </div>
				{% for event_or_padding in column.events_or_padding %}
					<div style="flex: {{event_or_padding.one_minute_chunks}};">
					{% if event_or_padding.event is not none %}
						{% with event = event_or_padding.event %}
							{% include "event.html" %}
						{% endwith %}
					{% endif %}
					</div>
				{% endfor %}
			</div>
		{% endfor %}
	</div>
	{%endif%}
</body>
</html>
