<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{date}} - edfringeplanner</title>
	<link href="{{ url_for("static", filename="style.css") }}" rel="stylesheet" />
	<style type="text/css">
	.calendar {
		display: flex;
		height: {{ hour_height_px * number_of_hours }}px;
	}

	.calendar .cell-hour {
		flex: 60;
		height: {{ hour_height_px }}px;
	}
	</style>
</head>
<body>
	{% include "site-header.html" %}

	<div class="hiding-bar">
	{% if display_filter.show_like %}<a href="{{url_hiding('like')}}">Hide{%else%}<a href="{{url_showing('like')}}">Show{%endif%} 👍 events</a>
	- {% if display_filter.show_must %}<a href="{{url_hiding('love')}}">Hide{%else%}<a href="{{url_showing('love')}}">Show{%endif%} ❤ events</a>
	- {% if display_filter.show_booked %}<a href="{{url_hiding('booked')}}">Hide{%else%}<a href="{{url_showing('booked')}}">Show{%endif%} Booked (another time) events</a>
	{% for hidden_category in display_filter.hidden_categories %}
	  - <a href="{{url_showing(hidden_category)}}">Show {{hidden_category}} events</a>
	{% endfor %}
	</div>

	<div class="calendar">
        <!-- TODO: Work out why this disappears about 10 columns in -->
		<div class="column left-header">
			{% for i in range (first_hour, first_hour + number_of_hours) %}
			<div class="cell cell-hour">
				{{ "{:02d}".format(i % 24) }}:00
			</div>
			{% endfor %}
		</div>
		{% for column in event_columns %}
			<div class="column">
                <div class="header">
                    {{ column.header }} {% if column.header != "Booked" %}<a href="{{url_hiding(column.header)}}">x</a>{% endif %}
                </div>
				{% for event_or_padding in column.events_or_padding %}
					<div style="flex: {{event_or_padding.one_minute_chunks}};">
					{% if event_or_padding.event is not none %}
						{% with event = event_or_padding.event %}
							{% include "event.html" %}
						{% endwith %}
					{% endif %}
					</div>
				{% endfor %}
			</div>
		{% endfor %}
	</div>
	</table>
</body>
</html>
