<div class="site-header">
    <div class="container">
        <div class="logo"><a href="/">Edinburgh Fringe Planner</a></div>
        <div class="heading">
            Plan your fringe<br /><br />
            edfringeplanner takes your favourites from <a href="https://www.edfringe.com/">edfringe.com</a> and helps you work out what to do when.
            <br/><br />
            {% if user %}
            <select onchange="if (this.value != 'browse') { var qs = localStorage.getItem('day_qs') || '?hidden=booked&hidden=past'; window.location = `/day/${this.value}${qs}`; }">
                <option value="browse">Browse days</option>
                {% for visit_day in user.visit_days %}
                {% with day_yyyymmdd = visit_day.strftime("%Y-%m-%d") %}
                <option value="{{day_yyyymmdd}}" {% if day_yyyymmdd == date_yyyymmdd %}selected="selected"{% endif %}>{{visit_day.strftime("%a %-d")}}</option>
                {% endwith %}
                {% endfor %}
            </select>
            | <a href="/import">Import your favourites</a> | <a href="/sharing">Manage sharing</a> | <a href="/logout">Log out</a>
            {% else %}
            <a href="/signup">Sign up</a> | Log in:
            <form action="/login" method="POST">
                <input type="email" placeholder="Email address" name="email" />
                <input type="password" placeholder="Password" name="password" />
                <input type="submit" value="Log in" />
            </form>
            {% endif %}
        </div>
    </div>
</div>
